{% extends 'base.html' %}

{% block head %}
<title>Change password</title>
{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        <div class="form_group">
            <label class="form_group_label">Old password: </label>
            <input type="password" name="oldPassword">
        </div>
        <div class="form_group">
            <label class="form_group_label">New password: </label>
            <input type="password" name="newPassword">
        </div>
        <div class="form_group">
            <label class="form_group_label">Confirm new password: </label>
            <input type="password" name="confirmNewPassword">
        </div>
        <div class="form_group">
            <label class="form_group_errorlabel">{{ passwordError }}</label>
        </div>
        <input class="button" type="submit" name="changePassword" value="Change Password">
    </form>
</div>

{% endblock %}